body {
    background-color: #333333;
    font-family: 'Quicksand', sans-serif;
}

#main-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #007bff;
    text-align: center;
    line-height: 75px;
    font-family: 'Quicksand', sans-serif;
    font-size: 3.5rem;
    letter-spacing: 5px;
    font-variant: small-caps;
}

.search-button {
    margin: 10px;
}

 #user-input {
    width: 60%;
} 

.header {
    height: 80px;
    background-color: lightblue;
    margin-bottom: 25px;
}

p {
    margin-bottom: 2px;
}

.gifImage {
    margin-top: 10px;
    margin-bottom: 10px;
}

#gifs {
    text-align: center;
}

#userinputdiv {
    margin-top: 20px;
}

